# Assignment 6

In this exercise you will get to work with a file that displays the COVID cases over a time period (February 2020 to 2021).

To complete this exercise you will have to do the following:

1) Load the file, only the following columns: Date, Sweden, Varmland, Stockholm

2) Compute the average recorded cases for March for the whole Sweden, Varmland and Stockholm, respectively.

3) Compute the monthly average for Sweden for all available months

Do not forget to describe your code and results with comments and markdown cells.

## Optional tasks

4) Identify the peak day for COVID-19 cases in Sweden and in Stockholm.

5) Determine the month with the highest number of cases in Sweden and compare it with Stockholm.

# Some tips

1. Use pandas.read_csv to load the data. Pay attention to the correct delimiter (tab \t in this case) to properly read the file.
To select specific columns, use the usecols parameter in read_csv. Make sure the column names match exactly with those in the file.
2.  Calculate the average using the .mean() function on the filtered data.

3. Extract the month and year from the 'Date' column using dataframe['Date'].dt.month and dataframe['Date'].dt.year.
Group the data by year and month with groupby, and then calculate the average.

 ### This is an example of how you can work with dates alternatively than those presented at the lecture. It might be helpful for the exercise.

In [ ]:

import pandas as pd

# Example DataFrame with a date column
data = pd.DataFrame({
    'Date': ['20200101', '20200201', '20200301', '20200401'],
    'Value': [10, 20, 30, 40]
})

# Convert 'Date' from string to datetime format
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')

# Extracting year, month, and day from the 'Date' column
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

# Display the DataFrame with the new columns
print(data)

        Date  Value  Year  Month  Day
0 2020-01-01     10  2020      1    1
1 2020-02-01     20  2020      2    1
2 2020-03-01     30  2020      3    1
3 2020-04-01     40  2020      4    1

In [1]:
import pandas as pd

In [76]:
# Define absolute path to the file
fp = pd.read_csv('/content/Modified_Regional_Daily_Cases.txt')

In [78]:
fp = '/content/Modified_Regional_Daily_Cases.txt'

In [79]:
# Read data and delimiter tab \t to properly read file
pd.read_csv(fp, sep='\t', usecols=['Date', 'Sweden_Total_Daily_Cases', 'Varmland', 'Stockholm'])

         Date  Sweden_Total_Daily_Cases  Stockholm  Varmland
0    20200204                         1          0         0
1    20200205                         0          0         0
2    20200206                         0          0         0
3    20200207                         0          0         0
4    20200208                         0          0         0
..        ...                       ...        ...       ...
369  20210207                      1013        156        14
370  20210208                      1516        498         3
371  20210209                      4077        803       104
372  20210210                      4364        714        62
373  20210211                      3807        800        42

[374 rows x 4 columns]

In [41]:
# Checking the data
data.head()

       Date  Sweden_Total_Daily_Cases  Stockholm  Varmland
0  20200204                         1          0         0
1  20200205                         0          0         0
2  20200206                         0          0         0
3  20200207                         0          0         0
4  20200208                         0          0         0

In [42]:
# Checking the columns
data.columns

Index(['Date', 'Sweden_Total_Daily_Cases', 'Stockholm', 'Varmland'], dtype='object')

In [45]:
# Changing Sweden_Total_Daily_Cases to Sweden to make it easier to read
new_names = {'Date': 'Date','Sweden_Total_Daily_Cases': 'Sweden', 'Varmland': 'Varmland', 'Stockholm': 'Stockholm'}

In [46]:
# Checking the new names
new_names

{'Date': 'Date',
 'Sweden_Total_Daily_Cases': 'Sweden',
 'Varmland': 'Varmland',
 'Stockholm': 'Stockholm'}

In [47]:
# Renaming the columns
data = data.rename(columns=new_names)

In [48]:
# Checking the new columns
print(data.columns)

Index(['Date', 'Sweden', 'Stockholm', 'Varmland'], dtype='object')

In [49]:
# Checking the update with Sweden in the column
data.head()

       Date  Sweden  Stockholm  Varmland
0  20200204       1          0         0
1  20200205       0          0         0
2  20200206       0          0         0
3  20200207       0          0         0
4  20200208       0          0         0

In [80]:
# Changing date to string
data["Date_STR"] = data["Date"].astype(str)

In [60]:
# Slicing the date to get only the month instead of YYMMDD
data["MONTH"] = data['Date_STR'].str.slice(start=4, stop=6)

In [62]:
# Checking the new column
data[['MONTH','Date_STR']]

    MONTH  Date_STR
0      02  20200204
1      02  20200205
2      02  20200206
3      02  20200207
4      02  20200208
..    ...       ...
369    02  20210207
370    02  20210208
371    02  20210209
372    02  20210210
373    02  20210211

[374 rows x 2 columns]

In [63]:
# Creating groups based on month
grouped = data.groupby("MONTH")

In [65]:
# Checking that there are 12 months in the data
data["MONTH"].nunique()

12

In [66]:
# Checking all the months
grouped.groups.keys()

dict_keys(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])

In [72]:
# Creating a group for march
month = '03'
group1 = grouped.get_group(month)

In [73]:
# Checking that group1 is in March (03)
group1

        Date  Sweden  Stockholm  Varmland  Date_STR MONTH
26  20200301       0          0         0  20200301    03
27  20200302       5          1         0  20200302    03
28  20200303      13         10         0  20200303    03
29  20200304      30         21         0  20200304    03
30  20200305      25         22         0  20200305    03
31  20200306      59         36        11  20200306    03
32  20200307      33         21         0  20200307    03
33  20200308      46         29         0  20200308    03
34  20200309     101         64         7  20200309    03
35  20200310      98         26         3  20200310    03
36  20200311     196         32         2  20200311    03
37  20200312     151         42         4  20200312    03
38  20200313     152         31         3  20200313    03
39  20200314      71         18         1  20200314    03
40  20200315      69         17         1  20200315    03
41  20200316      83         34         2  20200316    03
42  20200317     119         35         1  20200317    03
43  20200318     145         58         1  20200318    03
44  20200319     143         66         0  20200319    03
45  20200320     180         84         2  20200320    03
46  20200321     136         71         1  20200321    03
47  20200322     118         59         1  20200322    03
48  20200323     182         99         2  20200323    03
49  20200324     230        105         3  20200324    03
50  20200325     314        154         0  20200325    03
51  20200326     286        132         0  20200326    03
52  20200327     365        176         1  20200327    03
53  20200328     300        147         3  20200328    03
54  20200329     280        149         1  20200329    03
55  20200330     416        172         1  20200330    03
56  20200331     474        208         0  20200331    03

In [74]:
# Specify the columns that will be part of the calculation
mean_cols = ["Sweden", "Varmland", "Stockholm"]

# Calculate the mean values in March
mean_values = group1[mean_cols].mean()

# Let's see what we have
print(mean_values)

Sweden       155.483871
Varmland       1.645161
Stockholm     68.354839
dtype: float64

In [82]:
# Slicing the date to get only the month and year instead of YYMMDD
data["YEAR and MONTH"] = data['Date_STR'].str.slice(start=0, stop=6)

In [83]:
# Checking the year and month
data[['YEAR and MONTH','Date_STR']]

    YEAR and MONTH  Date_STR
0           202002  20200204
1           202002  20200205
2           202002  20200206
3           202002  20200207
4           202002  20200208
..             ...       ...
369         202102  20210207
370         202102  20210208
371         202102  20210209
372         202102  20210210
373         202102  20210211

[374 rows x 2 columns]

In [103]:
# Creating groups based on year and month
grouped = data.groupby("YEAR and MONTH")

In [85]:
# Checking the number of months, should be 13
data["YEAR and MONTH"].nunique()

13

In [86]:
# Checking the months
grouped.groups.keys()

dict_keys(['202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012', '202101', '202102'])

In [100]:
# Iterate over groups
for key, group in grouped:
    # Print key and group
    print(f"Key:\n {key}")
    print(f"\nFirst rows of data in this group:\n {group.head()}")

Key:
 202002

First rows of data in this group:
        Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
0  20200204       1          0         0  20200204    02         202002
1  20200205       0          0         0  20200205    02         202002
2  20200206       0          0         0  20200206    02         202002
3  20200207       0          0         0  20200207    02         202002
4  20200208       0          0         0  20200208    02         202002
Key:
 202003

First rows of data in this group:
         Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
26  20200301       0          0         0  20200301    03         202003
27  20200302       5          1         0  20200302    03         202003
28  20200303      13         10         0  20200303    03         202003
29  20200304      30         21         0  20200304    03         202003
30  20200305      25         22         0  20200305    03         202003
Key:
 202004

First rows of data in this group:
         Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
57  20200401     486        205         2  20200401    04         202004
58  20200402     554        216         0  20200402    04         202004
59  20200403     601        245         1  20200403    04         202004
60  20200404     357        129         1  20200404    04         202004
61  20200405     340        172         1  20200405    04         202004
Key:
 202005

First rows of data in this group:
         Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
87  20200501     532        141        13  20200501    05         202005
88  20200502     299         81         6  20200502    05         202005
89  20200503     261        127         3  20200503    05         202005
90  20200504     477        149         6  20200504    05         202005
91  20200505     657        169        17  20200505    05         202005
Key:
 202006

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
118  20200601     648        160         7  20200601    06         202006
119  20200602     900        153        21  20200602    06         202006
120  20200603    1046        234        14  20200603    06         202006
121  20200604    1039        207        21  20200604    06         202006
122  20200605    1146        227        12  20200605    06         202006
Key:
 202007

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
148  20200701     685        172         4  20200701    07         202007
149  20200702     687        169        14  20200702    07         202007
150  20200703     694        176         6  20200703    07         202007
151  20200704     364         96         1  20200704    07         202007
152  20200705     315        108         0  20200705    07         202007
Key:
 202008

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
179  20200801     303         64         5  20200801    08         202008
180  20200802      38          6         1  20200802    08         202008
181  20200803     165         22         2  20200803    08         202008
182  20200804     333         92         0  20200804    08         202008
183  20200805     425         59        15  20200805    08         202008
Key:
 202009

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
210  20200901     171         31         5  20200901    09         202009
211  20200902     213         38         3  20200902    09         202009
212  20200903     286         58         1  20200903    09         202009
213  20200904     262         53         4  20200904    09         202009
214  20200905     171         42         8  20200905    09         202009
Key:
 202010

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
240  20201001     633        228         9  20201001    10         202010
241  20201002     712        235         4  20201002    10         202010
242  20201003     461        182        13  20201003    10         202010
243  20201004     156         44         7  20201004    10         202010
244  20201005     374         70         1  20201005    10         202010
Key:
 202011

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
271  20201101    1297        275        26  20201101    11         202011
272  20201102    1569        240        36  20201102    11         202011
273  20201103    3608        841        45  20201103    11         202011
274  20201104    4482       1528        73  20201104    11         202011
275  20201105    4744       1607        63  20201105    11         202011
Key:
 202012

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
301  20201201    5820       1805        66  20201201    12         202012
302  20201202    6547       2062       140  20201202    12         202012
303  20201203    6986       1882        80  20201203    12         202012
304  20201204    7338       1979       112  20201204    12         202012
305  20201205    4864       1236        60  20201205    12         202012
Key:
 202101

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
332  20210101    2618        239        12  20210101    01         202101
333  20210102    2532        760        14  20210102    01         202101
334  20210103    2755        161       111  20210103    01         202101
335  20210104    6984       1094        15  20210104    01         202101
336  20210105    7546       1314        89  20210105    01         202101
Key:
 202102

First rows of data in this group:
          Date  Sweden  Stockholm  Varmland  Date_STR MONTH YEAR and MONTH
363  20210201    1554        373        11  20210201    02         202102
364  20210202    4318        832        98  20210202    02         202102
365  20210203    3740        497        39  20210203    02         202102
366  20210204    3402        595        76  20210204    02         202102
367  20210205    3263        592        70  20210205    02         202102

In [102]:
# Create an empty DataFrame for the aggregated values
monthly_data = pd.DataFrame()

# The column that we want to aggregate
mean_cols = ["Sweden"]

# Iterate over the groups
for key, group in grouped:

    # Calculate mean
    mean_values = group[mean_cols].mean()

    # Add the ´key´ (the date) into the aggregated values
    mean_values["YEAR and MONTH"] = key

    # Convert the mean_values series to a DataFrame and make it have a row orientation
    row = mean_values.to_frame().transpose()

    # Concatenate the aggregated values into the monthly_data DataFrame
    monthly_data = pd.concat([monthly_data, row], ignore_index=True)

In [96]:
print(monthly_data)

         Sweden YEAR and MONTH
0      0.538462         202002
1    155.483871         202003
2         559.0         202004
3    550.129032         202005
4    973.533333         202006
5    292.806452         202007
6    240.516129         202008
7         314.7         202009
8   1232.064516         202010
9        4300.2         202011
10  6249.258065         202012
11   3879.16129         202101
12  3035.636364         202102

In [81]:
"""
I have noted that I should do the docline documentation, I will keep that in mind :)
I will do so when there are more advanced step to explain.
For this excercise I think the #'s are enough to explain what is going on.

"""

'\nI have noted that I should do the docline documentation, I will keep that in mind :) \nI will do so when there are more advanced step to explain.\nFor this excercise I think the # are enough to explain what is going on.\n\n'